@font-face {
    font-family: gothamProLig;
    src: url('../fonts/GothaProLig.otf');
}

@font-face {
    font-family: gothamProBol;
    src: url('../fonts/GothaProBol.otf');
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica,Arial, sans-serif;
    background: url('../img/woodBack.png') repeat left bottom;

}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: gothamPro, "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.title,
.titleHelper {
    font-family: gothamProBol, Helvetica, sans-serif !important;
    display: none;
}

.video {
    margin-top: 40px;
    border: 1px solid #5e5e5e;
}

.footerText {
    font-family: gothamProLig, Helvetica, sans-serif;
}

.colored {
    font-family: gothamProBol, Helvetica, sans-serif;
    color: orange;
    font-size: 25px;
}

.navbar-title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.88);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 30px 0;
}

@media screen and (min-width:768px) {
    .title {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .titleHelper {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}